* {
   box-sizing: border-box;
}

body {
   background: #f69a73;
   font-family: 'Roboto', sans-serif;
}

.decor {
   position: relative;
   max-width: 400px;
   margin: 20px auto 0;
   background: white;
   border-radius: 30px;
}

.form-left-decoration,
.form-right-decoration {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   background: #f69a73;
   border-radius: 20px;

}

.form-left-decoration {
   bottom: 60px;
   left: -30px;
}

.form-right-decoration {
   top: 60px;
   right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   border-radius: 30px;
   background: white;
}

.form-left-decoration:before {
   top: -20px;
}

.form-left-decoration:after {
   top: 20px;
   left: 10px;
}

.form-right-decoration:before {
   top: -20px;
   right: 0;
}

.form-right-decoration:after {
   top: 20px;
   right: 10px;
}

.circle {
   position: absolute;
   bottom: 80px;
   left: -55px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: white;
}

.form-inner {
   padding: 50px;
}

.form-inner input {
   display: block;
   width: 100%;
   padding: 0 20px;
   margin-bottom: 10px;
   background: #E9EFF6;
   line-height: 40px;
   border-width: 0;
   border-radius: 20px;
}

.check {
   position: relative;
   margin-top: 25px;
}

.ok {
   position: absolute;
   width: 10px;
   height: 5px;
   top: 15px;
   right: 20px;
   box-sizing: border-box;
   transform: rotate(-45deg);
   border-left: 2px solid green;
   border-bottom: 2px solid green;
}

.err {
   width: 10px;
   height: 10px;
   background-image: url(/img/icon.svg);
   background-size: contain;
   background-repeat: no-repeat;
   position: absolute;
   top: 15px;
   right: 20px;
}

.check span:first-child {
   position: absolute;
   width: 100%;
   top: -20px;
   text-align: center;
   color: red;
   font-size: 0.7em;
}

.success {
   font-size: 0.8em;
   margin-bottom: 0;
   text-align: center;
   color: rgb(5, 193, 5);
   font-style: italic;
}

.form-inner input[type="submit"] {
   margin-top: 30px;
   background: #f69a73;
   border-bottom: 4px solid #d87d56;
   color: white;
   font-size: 14px;
}

.form-inner h3 {
   text-align: center;
   margin-top: 0;
   font-weight: 500;
   font-size: 24px;
   color: #707981;
}