* {
    margin: 0;
    padding: 0;
}
main {
    width: 800px; 
    height: 400px;
    display: flex;
    margin: 0 auto;
}

nav {
    flex: 0 1 100px; 
    box-sizing: border-box; 
    border: 2px solid orange; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
section {
    flex: 0 1 700px; 
    box-sizing: border-box; 
    border: 2px solid orange; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
footer {
    width: 800px; 
    height: 200px; 
    border: 2px solid grey; 
    margin: 0 auto; 
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column;
    justify-content: 
    center; align-items: center;
}
