@font-face {
    font-family: "Moonhouse font";
    font-style: normal;
    font-weight: 400;
    src: local("Moonhouse font"),
        url("/fonts/moonhouse.ttf") format("truetype")
}

@font-face {
    font-family: "Mandalorian";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/mandalore.ttf") format("truetype")     
}


body {
    font-family: "Moonhouse font";
    line-height: 1em;
    letter-spacing: 1px;
    background: url("/img/bg/alexander-andrews-yOIT88xWkbg-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
}

.wrapper {
    margin-top: 20px;
}

.card {
    width: 200px;
    border-radius: 20px;
    box-shadow: -1px 15px 30px -12px black;
}

.card-img {
    position: relative;
    height: 150px;
    background: url(/img/bg/nasa-rTZW4f02zY8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.card-img img {
    position: absolute;
    width: 150px;
    left: -25px;
    top: -18px;
}


.card-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: rgb(10, 2, 125);
    text-align: center;
}

.card-name p {
    color: white;
    margin: 0;
    font-size: 1.5em;
}

.card-descr {
    display: flex;
    height: 100px;
    background: rgb(239, 155, 38);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.el {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 33.3%;
    height: 100%;
}

.el span {
    font-size: 0.5em;
}

.el div:last-child {
    font-family: "Mandalorian";
    text-align: center;
    font-size: 0.8em;
    color: brown;
}

.el div:first-child {
    font-family: "Mandalorian";
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    color: white;
}