.black {
    background: black;
}

.silver {
    background: rgba(88, 88, 88, .5)!important;
}

.red {
    background: rgba(231, 40, 40, 0.5)!important;
}

.green {
    background: rgba(39, 211, 76, 0.5)!important;
}

.container-stopwatch {

    width: fit-content;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 10px black;
}

.stopwatch-display {
    background: rgba(22, 97, 12, 0.5);
    padding: 1.5rem;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.stopwatch-display span {
    font-size: 2rem;
}

.stopwatch-control button {
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0.829);
    border: none;
    cursor: grab;
}

.stopwatch-control button:nth-child(2) {
    margin: 0 .5rem;
}

/*___________________checkPhone________________________________________________________*/

.check-container {
    margin-top: 50px;
    position: relative;
}

.check-container p {
    position: absolute;
    top: -50px;
    color: red;
}

.check-container input:last-child {
    margin-left: 20px;
    
}
/*_________________slider___________________________________________________________*/

.slider {
    width: 450px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.slider-line {
    height: 100%;
    width: 1800px;
    display: flex;
    position: absolute;
    left: 0;
    transition: transform 1s ease-in-out;
   
}
.slider-line > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
 
}
