.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.task3 {
    width: 400px;
    height: 400px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task4 {
    display: flex;
    gap: 1.5em;
}

.task4 p {
    margin: 0;
    color: blue;
}

.task5 {
    width: 100px;
    height: 100px;
    background: rgb(192, 51, 86);
    transition: all 0.5s;
}

.move {
    transform: translateX(100px);
}