* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

table {
    border: 1px solid grey;
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
 }
 th {
    
    background: papayawhip;
    height: 2em;
 }
 th:first-child {
    text-align: left;
    padding-left: 1em;
 }
 td {
    text-align: center;
    height: 2em;
 }
 td:first-child {
    text-align: left;
    padding-left: 1em;
 }
 tr:nth-child(even) {
    background: #fcf6eb;
  }