
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

.coin {
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 2em;
    height: 150px;
    display: flex;
    overflow: hidden;
    background: rgb(192, 230, 255);
}
.coin-logo,
.coin-name,
.coin-abr,
.coin-num,
.coin-bal,
.coin-currency {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin-logo {
    flex: 0 1 7%;
    /* background: pink; */
}
.coin-name {
    flex: 0 1 20%;
    /* background: rgb(192, 230, 255); */
    text-transform: capitalize;
    font-size: 4em;
    font-weight: 900;
}
.coin-abr {
    flex: 0 1 5%;
    /* background: rgb(168, 255, 255); */
}
.coin-abr p {
    padding: 5px;
    /* background-color: azure; */
    border-radius: 0.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: gray;
}

.coin-num {
    flex: 0 1 15%;
    flex-direction: column;
    /* background: rgb(168, 255, 219); */
}
.coin-num p {
    color: red;
    font-size: 3em;
    font-weight: 900;
}
.coin-bal {
    flex: 0 1 30%;
    /* background: rgb(248, 188, 173); */
}
.coin-bal p {
    color: rgb(73, 73, 73);
    font-size: 3em;
    font-weight: 900;
    padding-left: 0.3em;
}
.coin-currency{
    color: rgb(73, 73, 73);
    flex: 1 1 10%;
    font-size: 2em;
    font-weight: 900;
}
