.container {
    margin: 0 auto;
    text-align: center;
}

textarea {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

textarea~button {
    margin-top: 20px;

}

.result {
    margin-top: 20px;
    color: brown;
}

.picture {
   position: relative;
    margin: 0 auto;
    margin-top: 100px;
    width: 425px;
    height: 280px;
    
}

.picture img {
   
 opacity: 0;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
   position: absolute;
   left: 0;
   transition: opacity 0.8s;
}
.picture .show {
   opacity: 1;
}
.maindiv p {
    cursor: pointer;
}